<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Editar</h2>
<a href="/admin/categories" class="btn btn-primary">Voltar</a>
<br><br>

<form method="post" action="/admin/categories/edit-category/<%= id %>">
    
    <div class="form-group">
        <label for="">Título</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Título">
    </div>

    <button class="btn btn-default">Salvar</button>
</form>

<%- include('../_layouts/adminfooter') %>