</div>
</div>
</div>
<br><br><br><br><br><br>
<hr>
<!-- <p class="text-center">&COPY; Favaretto Automóveis</p> -->
<div class="container">
  <div >
    <!-- <a href="/"><img alt="" class="img-logo-footer" src="" ></a> -->

    <div class="infos-footer" >
      <h5>
        Fala com Favaretto 
          <a href="https://wa.me/+555499937056" target="_blank">
              <img alt="" style="width: 25px; margin: 2px;" src="/images/wp2.gif" /> 
          </a>
      </h5>
      <!-- <% if (!user) { %> 
      <h6>
        Login
        <a href="/users/login">
          <img alt="" style="width: 22px; margin: 2px;" src="/images/login-icon.png" />
        </a>
      </h6>
      <% } %> -->
    </div>
  </div>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>