</div>
</div>
</div>
<br><br><br>
<hr>
<p class="text-center">&COPY; BF Automóveis</p>
<!-- <div class="navbar-header" >
  <a href="/"><img alt="" class="img-logo" src="/images/bflogo.png" ></a>
</div>
<div class="social">
  <a href="https://wa.me/+555481347604" target="_blank" >
      (54) 998134-7604 <img alt="" style="width: 28px; margin: 5px;" src="/images/whatsapp.png" /> 
  </a>
  <a href="https://wa.me/+555499937056" target="_blank">
      (54) 99993-7056 <img alt="" style="width: 28px; margin: 5px;" src="/images/whatsapp.png" /> 
  </a>

  <a href="https://www.instagram.com/_bf_automoveis__" target="_blank">
      <img alt="" style="width: 27px; margin: 5px;" src="/images/instagram.png" />
  </a>
</div> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>